###############
#  Frontend   #
###############
**/node_modules

# production
/frontend/build

###############
#   Backend   #
###############

###############
#      DB     #
###############

environment/output

###############
#     AI      #
###############
**/*.pt
**/*.pth 

###############
#   Common    #
###############
**/.env
**/.env.*
!**/.env.sample

**/.gitignore
!.gitignore

**/__pycache__
**/*.pyc

.vscode

~$*